:root{
--bg:#ffffff;
--text:#020617;
--card:#f1f5f9;
--accent:#e2119c;
}

body.dark{
--bg:#020617;
--text:#e5e7eb;
--card:#0f172a;
--accent:#f94fc3;
}

*{box-sizing:border-box}
body{
margin:0;
font-family:Segoe UI,Arial;
background:var(--bg);
color:var(--text);
transition:all .3s ease;
}

.topbar{
position:fixed;
top:0;
right:0;
left:0;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 25px;
z-index:100;
background:rgba(0,0,0,.1);
backdrop-filter:blur(10px);
}

.logo{
    font-weight:bold
    border:none;
background:var(--card);
padding:8px 12px;
border-radius:50%;
}

#themeToggle{
font-size:18px;
border:none;
background:var(--card);
padding:8px 12px;
border-radius:50%;
cursor:pointer;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:radial-gradient(circle at top,var(--accent),var(--bg));
text-align:center;
padding-top:60px;
}

h1{font-size:3.5rem}
h2{color:var(--accent)}

.btn{
margin-top:20px;
padding:14px 30px;
border-radius:30px;
background:var(--accent);
color:#020617;
text-decoration:none;
font-weight:bold;
transition:transform .3s,box-shadow .3s;
}

.glow:hover{
transform:scale(1.1);
box-shadow:0 0 25px var(--accent);
}

section{
padding:80px 20px;
max-width:900px;
margin:auto;
opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

section.active{
opacity:1;
transform:translateY(0);
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:20px;
}

.card{
padding:25px;
background:var(--card);
border-radius:15px;
text-align:center;
transition:transform .3s,box-shadow .3s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.fade-in{animation:fade 1.2s ease}
.slide-up{animation:slide 1.2s ease}

@keyframes fade{from{opacity:0}to{opacity:1}}
@keyframes slide{from{opacity:0;transform:translateY(30px)}to{opacity:1;transform:translateY(0)}}

footer{
text-align:center;
padding:30px;
border-top:1px solid var(--card);
}
